{% import 'macros.html' as macros %}
<!DOCTYPE HTML>
<html>
<head>
    {{ macros.ie7_compatibility_check() }}
    <title>{{ c.SITE_NAME }} - {% block title %}{% endblock %}</title>
    <link rel="icon" href="../static/images/favicon.png" type="image/x-icon" />

    {% block head_styles %}
        <link rel="stylesheet" href="../static/combined.css" />
        <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
        {% if admin_area %}
            <link rel="stylesheet" type="text/css" href="../static_views/additional-styles.css" />
        {% endif %}
    {% endblock %}

    {% block head_javascript %}
        <script>
            var message = '{{ message|e }}';
        </script>

        <script type="text/javascript" src="../static/combined.js"></script>
        <script type="text/javascript">
            var csrf_token = '{{ c.CSRF_TOKEN }}';
            $(function() {
                $(window).load(function() {
                    $(".loader").fadeOut("fast");
                });
                toastr.options = {
                    closeButton: true,
                    debug: false,
                    positionClass: "toast-top-full-width",
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    timeOut: "0",
                    extendedTimeOut: "0",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut"
                };
                if (message.length) {
                    toastr.info(message);
                }
                $('.focus:first').focus();

            });
        </script>
    {% endblock %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block top_of_body_additional %}
        <!--{% if admin_area %}
            <div id="floating_logo">
                <img src="../static/theme/bg-logo.png"/>
            </div>
            {% if c.DEV_BOX %}
                <div id="devbox_cautiontape"></div>
                <div id="devbox_text">DEVELOPMENT</div>
            {% endif %}
        {% endif %}-->
    {% endblock %}
    <div id="mainContainer" class="container-fluid">
        {% block backlink %}
        <nav">
            <div class="nav-wrapper">
                <a class="navbar-brand center" href="../admin/homepage">{{ c.EVENT_NAME }}</a>
            </div>
            <ul class="right">
                <li><a href="https://github.com/magfest/ubersystem/issues"><i title="Report A Bug" class="fa fa-book"></i></a></li>
                        <li><a href="../admin/sitemap"><span title="Site Map" class="fa fa-road"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Log In</span>
                            </a>
                            {% if c.CURRENT_ADMIN %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>Logged in as: {{ c.CURRENT_ADMIN.first_name }} {{ c.CURRENT_ADMIN.last_name }}</span> <span title="Account Settings" class="glyphicon glyphicon-cog"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="../admin/change_password">Change Password</a></li>
                                <li><a href="../admin/logout">Logout</a></li>
                            </ul>
                            {% endif %}
                        </li>
            </ul>
        </nav>

        {% endblock %}
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        <div id="bottomAnchor" /></div>
    </div>
    {% block scripts %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</body>
</html>