{% extends "base.html" %}{% set admin_area=True %}
{% block title %}Accounts{% endblock %}
{% block content %}

<style>
table form {
  display: inline;
}
</style>

<div class="row">
    <div class="col s12 l3 right little-padding">
<div class="card grey lighten-4">
<div class="card-content panel-default">
  <div class="panel-heading">
    <h3 class="panel-title center">New Account</h3>
  </div>

    <form id="new_admin" method="post" action="update" onsubmit="return check_passwords()" role="form" class="form-inline">
      {{ csrf_token() }}
        <div class="row">
            <div class="input-field col s12">
                <select name="user_id">
                <option value="" disabled selected>Choose A User</option>
                {% for user in users %}

                    {% if user.last_first %}
                <option value="{{user.id}}">{{user.last_first}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
      <div class="col s6 l12">
        <label for="password" class="sr-only">Password</label>
        <div class="input-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
           <span class="input-group-addon"><span class="glyphicon glyphicon-ban-circle"></span></span>
        </div>
          </div>
            <div class="col s6 l12">
        <input type="password" class="form-control" id="check-password" name="check-password" placeholder="Re-enter Password">
                </div>
      </div>

        <div class="row">
        {{ macros.checkgroup(AdminAccount, 'access', no_instance=True, column_css='s6') }}
        </div>
        <div class="row">
            <div class="col s6">
      <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
    </form>
  </div>
</div>
</div>

<div class="col s12 l9 little-padding">
<div class="card grey lighten-5">
  <div class="card-content">
    <div class="panel-heading">
    <h3 class="panel-title center">Existing Accounts</h3>
  </div>
    <div class="table-responsive">
    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th data-hide="phone">Access</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for account in accounts %}
        <tr id="{{ account.email|idize }}" class="hoverable">
          <td data-order="{{ account.user.last_first }}" data-search="{{ account.user.last_first }}"> <nobr><a href="../registration/form?id={{ account.user.id }}">{{ account.user.last_first }}</a></nobr> </td>
          <td> <a href="mailto:{{ account.user.email }}">{{ account.user.email }}</a> </td>
          <td>
            <form class="form update-form" method="post" action="update">
              <input type="hidden" name="id" value="{{ account.id }}" />
              {{ csrf_token() }}
              <div class="form-group">{{ macros.checkgroup(account, 'access', column_css='col s6') }}</div>
            </form>
          </td>
          <td>
            <a href="update_password_of_other?id={{account.id}}">Change Password</a>
          </td>
          <td class="text-nowrap">
            <button type="submit" class="btn btn-sm btn-primary update-button fa fa-floppy-o">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <form class="form delete-form" method="post" action="delete">
              {{ csrf_token() }}
              <input type="hidden" name="id" value="{{ account.id }}" />
              <button type="submit" type="button" class="btn btn-sm btn-danger delete-button fa fa-trash-o" data-last_first="{{ account.user.last_first }}">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

</div>
</div>

</div>



<script>
function check_passwords() {
    if (document.getElementById("password").value != document.getElementById("check-password").value) {
        alert("Passwords must match");
        return false;
    }
    return true;
}

$(document).ready(function() {
    $('select').material_select();

    $('table').on('click', '.delete-button', function (event) {
        event.preventDefault();
        var $self = $(this),
            lastFirst = $self.data('last_first'),
            $formToSubmit = $self.closest('form');
        bootbox.confirm({
            backdrop: true,
            title: 'Delete "' + lastFirst + '"?',
            message: 'Are you sure you want to delete this account? This cannot be undone.',
            buttons: {
                confirm: { label: 'Delete Account', className: 'btn-danger' },
                cancel: { label: 'Nevermind', className: 'btn-default' }
            },
            callback: function (result) {
                if (result) {
                    $formToSubmit.submit();
                }
            }
        });
    });

    $('table').on('click', '.update-button', function (event) {
        $(event.target).closest('tr').find('.update-form').submit();
    });
});
</script>

{% endblock %}