{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<body>
<div class="container">
    <div class="row">
        <div class="col offset-m3 s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Coming Soon</span>
              <p>This page has no currently determined function, but is considered the root of the site currently.</p>
            </div>

          </div>
        </div>
      </div>
</div>
</body>
{% endblock %}